
.sb-loadingCoffeeSteam {
    animation: steam-rise 2s infinite ease-in-out;
}

@keyframes steam-rise {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    50% {
        opacity: 1;
        transform: translateY(-5px);
    }

    100% {
        opacity: 0;
        transform: translateY(-15px);
    }
}